<h1>Printing in Python</h1>

In [1]:
name='Cuet'
print(name)

Cuet

In [10]:
print('Enter your name')
x=input()
print('your name is: {}'.format(x))
print('Enter your id')
y=int(input())
print('your id is: {}'.format(y))
print('your name is {0} and your id is {1}'.format(x,y))

Enter your name

 naveed

your name is: naveed
Enter your id

 22

your id is: 22
your name is naveed and your id is 22

<h1>Data Type and Variable</h1>

In [12]:
x=10.5
print(type(x))
x=1+2j
print(type(x))
x='Linear Regression'
print(type(x))

<class 'float'>
<class 'complex'>
<class 'str'>

In [14]:
a=10
b=23
print(a,b)

10 23

In [18]:
print('This is '+str(a))

This is 10

In [19]:
print(f"This is {a} and this is {b}")

This is 10 and this is 23

In [22]:
l,m,k='SVM',10,23.3
print(l,m,k)

print('String '+l+' Integer '+str(m)+' Float '+str(k))
print('String {} Integer {} Float {}'.format(l,m,k))

SVM 10 23.3
String SVM Integer 10 Float 23.3
String SVM Integer 10 Float 23.3

In [47]:
str1='Hello World'
print(str1[0])
print(str1[2:5]) #5 is not concluded
print(str1[2:])
print(str1 *2)
print(str1+' Text')

H
llo
llo World
Hello WorldHello World
Hello World Text

In [33]:
str1[2:2]

''

<h1>Operators</h1>

In [37]:
x,y=5,3
print(x**y)
print(x%y)

125
2

In [38]:
5**(1/3)

1.7099759466766968

In [40]:
print(x<y,x>y,x!=y,x==y,x>=y,x<=y)

False True True False True False

In [43]:
f1,f2=7,2
f1//=f2
f1

3

In [46]:
not(7>11 or 6>10)

True

In [49]:
arr=[1,2,3,4,5]
for nums in arr:
    print(nums)

1
2
3
4
5

<h1>IF ELSE</h1>

In [51]:
accuracy_score_for_DecisionTree=63.4
accuracy_score_for_LogisticRegression=77.8
if(accuracy_score_for_DecisionTree>accuracy_score_for_LogisticRegression):
    print("Decision Tree works better")
elif(accuracy_score_for_DecisionTree<accuracy_score_for_LogisticRegression):
    print("Logistic Regression works better")
else:
    print("Both Algorithms work same")

Logistic Regression works better

In [55]:
a,b=30,40
print('a is greater than b') if a>b else print('a and b are equal') if a==b else print('b is greater than a')

b is greater than a

<h1>Loop</h1>

In [56]:
sum=0
for i in range(5,0,-1):
    sum+=i
print(sum)

15

In [57]:
str1='OneHotEncoding'
for letters in str1:
    print(letters )

O
n
e
H
o
t
E
n
c
o
d
i
n
g

<h1>Lists</h1>

In [61]:
fruits=['Apple','Banana','WaterMelon']
for fruit in fruits:
    print("Current fruit: ",fruit)
for index,fruit in enumerate(fruits):
    print(f"Current fruit: {fruit} current index :{index}")
for index in range(len(fruit)):
    print(f"Current fruit is {fruits[index]} and its index is {index}")

Current fruit:  Apple
Current fruit:  Banana
Current fruit:  WaterMelon
Current fruit: Apple current index :0
Current fruit: Banana current index :1
Current fruit: WaterMelon current index :2
Current fruit is Apple and its index is 0
Current fruit is Banana and its index is 1
Current fruit is WaterMelon and its index is 2

IndexError: list index out of range

In [64]:
list=[[1,[2,4],5],[4,5,6]]
for lists in list:
    print(lists)
    for nums in lists:
        print(nums)

[1, [2, 4], 5]
1
[2, 4]
5
[4, 5, 6]
4
5
6

In [65]:
a=['porche','bmw','mercedes']
b=['991 turbo','7 series','s class']
a+b

['porche', 'bmw', 'mercedes', '991 turbo', '7 series', 's class']

In [66]:
a.append('Range Rover')

In [67]:
a

['porche', 'bmw', 'mercedes', 'Range Rover']

In [68]:
a.insert(1,'Rollce Royce')

In [69]:
a

['porche', 'Rollce Royce', 'bmw', 'mercedes', 'Range Rover']

In [70]:
a[-1]

'Range Rover'

In [71]:
print(a[::-1])

['Range Rover', 'mercedes', 'bmw', 'Rollce Royce', 'porche']

In [74]:
print(a[2:5])

['bmw', 'mercedes', 'Range Rover']

In [75]:
print(a[::2])

['porche', 'bmw', 'Range Rover']

In [76]:
a.remove('Range Rover')

In [77]:
a

['porche', 'Rollce Royce', 'bmw', 'mercedes']

In [78]:
a.insert(1,'Toyota')

In [80]:
print(a[0:2:-1])

[]